@import url(https://fonts.googleapis.com/css?family=Source+Serif+Pro:600);

/* font-family: 'Source Serif Pro', serif; */

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,500,600);

/* font-family: 'Source Sans Pro', sans-serif;
*/




@mixin flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}


$blue: #0F263B;
$yellow: #F0AA1F;
$gray: #8D8F88;
$green: #2C5234;


.projets {
    @include flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.projets--row {
    @include flex;
    flex-direction: column-reverse;
    -webkit-flex-direction: column-reverse;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-bottom: 20px;
    
    @media screen and (min-width: 401px) {
        flex-direction: row;
        -webkit-flex-direction: row;
        width: 1020px;
        height: 300px;
        
    }
    
    .desc {
        width: 100%;
        height: 300px;
        color: #f1f1f1;
        padding: 35px 40px 35px 16px;
        
        @media screen and (min-width: 401px) {
            width: 320px;
        }
        
        > * {
            padding-bottom: 5px;
        }
        
        button {
            background: none;
            border: 1px solid #f1f1f1;
            padding: 2px 15px;
            margin-top: 10px;
            font-size: 12px;
            transition: background-color 0.5s;
            -webkit-transition: background-color 0.3s;
            color: #f1f1f1;
        }
    
        button:hover {
            background-color: rgba(255,255,255,0.4);
        }
    }
}




.projets__description {
    @include flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    
    p {
    padding-left: 10px;
    }
}
