@import url(https://fonts.googleapis.com/css?family=Source+Serif+Pro:600);

/* font-family: 'Source Serif Pro', serif; */

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,500,600);

/* font-family: 'Source Sans Pro', sans-serif;
*/




@mixin flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}


$blue: #0F263B;
$yellow: #F0AA1F;
$gray: #8D8F88;
$green: #2C5234;
$text-gray: #8D8F88;


// .services {
//     @include flex;
//     flex-direction: column;
// }

.body {
        
}
.services__row {
    @include flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
    color: white;
    background-position-x: -550px;
    background-position-y: -310px;
    
    @media screen and (min-width: 751px) {
        width: 730px;
    }
    
    @media screen and (min-width: 416px) {
    @include flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1020px;
    height: 300px;
    }
    

    
    h2 {
        height: 170px;
        width: 210px;
        font-size: 17pt;
        font-weight: 300;
        margin: 0;
        padding: 30px 25px;
        
    }
    
    .services__desc {
        width: 100%;
        padding-right: 10%;
        font-size: 8px;
        padding: 30px 25px;
        
        @media screen and (min-width: 401px) {
        width: 550px;
        height: 100%;
        //padding: 30px 25px;
        font-size: 28px;
        line-height: 1.2;
        padding: 30px 25px 30px 70px;
        
        }
        
        p {
        width: 100%;
        font-size: 18px;
        
        @media screen and (min-width: 401px) { }
        }
        
        h4 {
            font-weight: 400;
            font-size: 13pt;
            margin-bottom: 30px;
            width: 270px;
        }
        
        ul {
            
            
            
            li {
                font-weight: 200;
                font-size: 13pt;
                list-style-type: disc;
                list-style-position: inside;
            }
        }
    }
}


.services__desc:nth-child(3) {

    background-position-x: -815px;
    background-position-y: -411px;
    background-size: 132%;
}

.services__statement {
    @include flex;
    width: 100%;
    font-size: 20px;
    padding: 0px 20px 40px 20px;
    color: $text-gray;
    margin: 0 0 60px 0;
    
    @media screen and (min-width: 401px) {
        width: 1020px;
        padding: 0;
    }
}
       


.bg--gray {
    background-image: url('gray-background.svg');
    background-repeat: no-repeat;
    background-position-x: -815px;
    background-position-y: -411px;
    background-size: 132%;
}

    .mission__desc {
        width: 100%;
        padding-right: 10%;
        font-size: 20px;
        padding: 30px 25px;
        line-height: 1.2;
        
        @media screen and (min-width: 401px) {
        width: 720px;
        height: 100%;
        //padding: 30px 25px;
        font-size: 20px;
        line-height: 1.2;
        padding: 20px 25px 30px 70px;
        }
    }
    
    .equipe {
        color: $text-gray;
        height: 100%;
    }
    
