@import 'contact';
@import 'projets';
@import 'services';
@import 'organisme';
@import 'projet-pages';
@import 'nouvelle';

@import url(https://fonts.googleapis.com/css?family=Source+Serif+Pro:600);

/* font-family: 'Source Serif Pro', serif; */

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,500,600);

/* font-family: 'Source Sans Pro', sans-serif;
*/




@mixin flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin flex-row {
    -webkit-flex-direction: row;
    flex-direction: row;    
}

@mixin flex-column {
    -webkit-flex-direction: column;
    flex-direction: column;    
}

@mixin flex-row-reverse {
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;    
}

@mixin flex-column {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;    
}



$blue: #0F263B;
$yellow: #F0AA1F;
$gray: #8D8F88;
$green: #2C5234;
$text-gray: #8D8F88;

*,
*:before,
*:after {
    box-sizing: inherit;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
}

        
html {
    box-sizing: border-box;
}


.page-title {
    margin: 80px 0;
    font-weight: 300;
    font-size: 20px;
    color: #666;;
    text-align: center;
}

.desc--blue {
    background-color: $blue;
}

.bg--blue {
    background-image: url('../images/blue-background.svg');
    background-repeat: no-repeat;
}
      
.desc--yellow {
    background-color: $yellow;
    
}

.bg--yellow {
    //
}
    
.desc--gray {
    background-color: $gray;
}

.bg--gray {
    background-image: url('../images/gray-background.svg');
    background-repeat: no-repeat;
    background-position-x: -815px;
    background-position-y: -411px;
    background-size: 132%;
    
}
    
.desc--green {
    background-color: $green;
}

.bg--green {
    background-image: url('../images/green-background.svg');
    background-repeat: no-repeat;
}

button:focus {
    outline: none;
}        

.lang {
    width: 100%;
    margin-top: 10px;
    padding: 0px 20px;
    text-align: right;
    
    @media screen and (min-width: 401px) {
        width: 1020px;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
    }
    
    a {
        color: #8D8F88;
        margin-right: 13px;
        
        @media screen and (min-width: 401px) {
            margin: 0;
        }
    }
}


html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    //overflow: hidden;
}


h2,
h3,
h4,
h5,
h6,
a,
li,
p,
button{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
}

body {
    height: 100%;
    //position: relative;
    margin: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}


.services,
.projets,
.contact,
.organisme,
.home {
    @include flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex-align-items: center;
    align-items: center;
    width: 100%;
    
    @media screen and (min-width: 401px) {
        @include flex;
        //flex-direction: column;
        -webkit-flex-direction: column;
        width: 1020px;
        margin: auto;
    }

}


////// INDEX ///????/////////////////

.home {
    @include flex;
    flex-direction: column;
    webkit-flex-direction: column;

}

.home__news {
    @include flex;
    flex-direction: column;
    webkit-flex-direction: column;
    
    @media screen and (min-width: 401px) {
    flex-direction: row;
    webkit-flex-direction: row;
    justify-content: space-between;
    width: 1020px;
    }
}

.home__article {
    @include flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    
    border-top: 1px solid #333;
    border-bottom: 4px solid #333;
    
    padding: 20px 0px;
    width: 325px;
    height: 250px;
    
    p {
        font-weight: 500;
        font-size: 14px;
        padding: 0 60px 30px 0;
        
    }
    
    h3 {
    font-weight: 600;
    }
}

.article__button {
    border: 1px solid #333;
    background-color: #fff;
    padding: 3px 10px 3px 10px;
    width: 96px;
    font-weight: 600;
    transition: background-color 0.5s;
    -webkit-transition: background-color 0.3s;
}

.article__button:hover {
    background-color: rgba(0,0,0,0.3);
}


.footer {
    @include flex;
    flex-direction: row;
    webkit-flex-direction: row;
    justify-content: space-between;
    margin: auto;
    margin-top: 200px;
    margin-bottom: 30px;
    position: relative;
    bottom: 0;
    padding-top: 25px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #1D1D1B;
    width: 100%;
    border-top: 1px solid black;
    
    @media screen and (min-width: 401px) {
        width: 1020px;
    }
    
    h1 {
        color: #f1f1f1;
        font-size: 50px;
        font-family: 'Source Serif Pro', serif;
        border-bottom: 4px solid #f1f1f1; 
    }
}

.footer__col {
    @include flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    
    @media screen and (min-width: 401px) {
    width: 325px;
    justify-content: space-between;
    }
    
    * {
        color: #1d1d1b;
        font-weight: 300;
        font-size: 15px;
    }
    
    h3 {
        font-weight: 500;
        padding-bottom: 20px;
    }
    
    ul li a {
        color: #1d1d1b;
    }    
    
    img {
            height: 100%;
        }
    
    div {
        @include flex;
        flex-direction: column;
    }

}


/* ++++++++++++++++ */



// #map {
//     height: 300px;
//     width: 100%;
// }

.head {
    @include flex;
    flex-direction: column;
    webkit-flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 60vh;
    @media screen and (min-width: 401px) {
        align-items: center;
        height: 90vh;
    }
    background-image: url("../images/blue-background.svg");
    background-color: $blue;
    //background-image: url("bg.gif")
    // width: 100%;
    
    
    
}

.head a {
    color: #fff;
}

.head__description {
    @include flex;
    flex-direction: column;
    webkit-flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    color: #fff;
    margin: auto;
    width: 1020px;
    position: relative;
    bottom: 0;
    
    @media screen and (min-width:420px) {
        justify-content: space-around;
    }
}

.head__description p {
    width: 1020px;
    line-height: 1.2;
    font-weight: 200;
    font-size: 33px;
    margin: 0px;
    position: relative;
    bottom: 15px;
    padding: 20px;
    
    @media screen and (min-width: 401px) {
        font-size: 45px;
        padding: 0;
    }
    
    
}


.nav-bar {
    @include flex;
    flex-direction: row;
    align-item: baseline;
    justify-content: space-between;
    color: #8D8F88;
    padding: 7px 20px;

    
    @media screen and (min-width: 401px) {
        width: 1020px;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        
    }

    
    
    h1 {
    margin: 0;
    padding: 10;
    font-size: 42px;
    font-family: 'Source Serif Pro', serif;
    font-weight: 400;
    color: #8D8F88;
    -webkit-font-smoothing: antialiased;
    }
    
    h1 a {
        font-family: 'Source Serif Pro', serif;
        color: #666;
    }
    
    h1 a:hover {
        text-decoration: none;
    }
    
    ul {
    @include flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    float: left; 
    visibility: hidden;
    //right: -2240px;
    
    @media screen and (min-width: 600px) {
        visibility: visible;
        float: none;
        right: 0;
        width: 480px;
    }
    }
    
    ul li a {
    color: #666;
    //padding: 0px 25px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 15px;
    transition: font-weight 0.3s;
    -webkit-font-smoothing: antialiased
    }
    
    ul li a:hover {
        font-weight: 600;
    }
}



#hamburger {
    @include flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex-justify-content: space-between;
    justify-content: space-between;

    
    height: 35px;
    width: 45px;
    padding: 3px 4px 3px;
    position: relative;
    visibility: visible;
    //margin: auto;
    //right: -145px;
    
    @media screen and (min-width: 401px) {
        //visibility: hidden;
        margin: 0;
        padding: 0;
    } 
    
}    
 
#hamburger div {
    background-color: #8d8f88;
    height: 5px;
    //margin-top: 5px;
    width: 90%;
    margin-left: auto;
    position: relative;
    
    
    p {
        width: 100%;
        padding-left: 100%;
        padding-right: 100%;
    }
    
}


.dropdown-menu {
    width: 100vw;
    height: 90vh;
    background-color: white;
    position: absolute;
    top: 100px;
    left: -1500px;
    z-index: 1000;
    
    ul {
        height: 100%;
    }
    
    li {
        @include flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid $text-gray;
        height: 17%;    
        width: 100%;
    }
    
    li a {
        margin: auto;
        text-transform: uppercase;
        font-weight: 400;
        color: #444;
        font-size: 22px;
        letter-spacing: 2px;
    }
}

.navbar-fixed {
    position: fixed;
    background-color: orange;
    margin-left: auto;
    margin-right: auto;
}

button {
    cursor: pointer;
    cursor: hand;
}

